@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat+Alternates:wght@300&family=Montserrat:wght@300&family=Pacifico&family=Satisfy&family=Ubuntu:wght@500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

.relative{
    position: relative;
}

.w100 {
    width: 100%;
}